<h1>Ваш кошик</h1>

<% if @cart_items.empty? %>
  <p>Ваш кошик порожній.</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Назва товару</th>
        <th>Ціна</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.product.name %></td>
          <td><%= cart_item.product.price %> грн</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Повернутись до товарів', products_path, class: 'btn btn-secondary' %>
