<!DOCTYPE html>
<html>
  <head>
    <title>Інтернет-магазин ліків</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Підключення Bootstrap через CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
